.home-page-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  background-color: #fff;
  line-height: 1.625;
  color: #94a3b8;
}

@media only screen and (max-width: 768px) {
  .home-page-wrapper {
    display: flex;
    flex-direction: column;
  }
}
